@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.nft-gradient {
	background: linear-gradient(
		101.12deg,
		#eb1484 27.35%,
		#c91cc3 99.99%,
		#c81cc5 100%,
		#c81cc5 100%
	);
}

.white-bg {
	background: rgba(255, 255, 255, 0.2);
}

.gradient-text {
	background: linear-gradient(45deg, #cd1bbb, #0036e6); /* Adjust color stops */
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}
.image {
	object-fit: cover; /* or any other value that suits your layout */
}

.flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flexBetween {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flexStart {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.flexStartCenter {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.flexBetweenStart {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.flexCenterStart {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
